@import url(https://fonts.googleapis.com/css?family=Domine:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Domine', serif;
  font-size: 1rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-2 {
  font-family: 'Domine', serif;
  font-size: 2.8rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.48rem;
}
.display-4 {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Domine', serif;
  font-size: 1.8rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Permanent Marker', handwriting;
  font-size: 1.2rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #b1a374 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #e4d295 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #7b5b0c !important;
  border-color: #7b5b0c !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #352705 !important;
  border-color: #352705 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #352705 !important;
  border-color: #352705 !important;
}
.btn-info,
.btn-info:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #e4d295 !important;
  border-color: #e4d295 !important;
  color: #615119 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #615119 !important;
  background-color: #d4b858 !important;
  border-color: #d4b858 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #615119 !important;
  background-color: #d4b858 !important;
  border-color: #d4b858 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #1e1603;
  color: #1e1603;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #7b5b0c;
  border-color: #7b5b0c;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #7b5b0c !important;
  border-color: #7b5b0c !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #cfaf44;
  color: #cfaf44;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #615119;
  background-color: #e4d295;
  border-color: #e4d295;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #615119 !important;
  background-color: #e4d295 !important;
  border-color: #e4d295 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #7b5b0c !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #b1a374 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #e4d295 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #1e1603 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #7a6e45 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #cfaf44 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #b1a374;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #e4d295;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #dfd9c6;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Permanent Marker', handwriting;
  font-size: 1.2rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #7b5b0c !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-qyY7WBynLk .navbar {
  padding: .5rem 0;
  background: #efefef;
  transition: none;
  min-height: 77px;
}
.cid-qyY7WBynLk .navbar-dropdown.bg-color.transparent.opened {
  background: #efefef;
}
.cid-qyY7WBynLk a {
  font-style: normal;
}
.cid-qyY7WBynLk .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qyY7WBynLk .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qyY7WBynLk .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qyY7WBynLk .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qyY7WBynLk .menu-logo {
  margin-right: auto;
}
.cid-qyY7WBynLk .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qyY7WBynLk .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qyY7WBynLk .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qyY7WBynLk .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qyY7WBynLk .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qyY7WBynLk .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qyY7WBynLk .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qyY7WBynLk .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qyY7WBynLk .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qyY7WBynLk .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qyY7WBynLk .dropdown .dropdown-menu {
  background: #efefef;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qyY7WBynLk .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qyY7WBynLk .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qyY7WBynLk .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qyY7WBynLk .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qyY7WBynLk .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qyY7WBynLk .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qyY7WBynLk .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qyY7WBynLk .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qyY7WBynLk .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qyY7WBynLk .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qyY7WBynLk .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qyY7WBynLk button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qyY7WBynLk button.navbar-toggler:focus {
  outline: none;
}
.cid-qyY7WBynLk button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #c1c1c1;
}
.cid-qyY7WBynLk button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qyY7WBynLk button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qyY7WBynLk button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qyY7WBynLk button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qyY7WBynLk nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qyY7WBynLk nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qyY7WBynLk nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qyY7WBynLk nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qyY7WBynLk .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qyY7WBynLk .collapsed .btn {
  display: flex;
}
.cid-qyY7WBynLk .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qyY7WBynLk .collapsed .navbar-collapse.collapsing,
.cid-qyY7WBynLk .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qyY7WBynLk .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qyY7WBynLk .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qyY7WBynLk .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qyY7WBynLk .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qyY7WBynLk .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qyY7WBynLk .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qyY7WBynLk .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qyY7WBynLk .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qyY7WBynLk .collapsed button.navbar-toggler {
  display: block;
}
.cid-qyY7WBynLk .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qyY7WBynLk .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qyY7WBynLk .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qyY7WBynLk .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qyY7WBynLk .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qyY7WBynLk .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qyY7WBynLk .navbar-expand {
    flex-direction: column;
  }
  .cid-qyY7WBynLk img {
    height: 3.8rem !important;
  }
  .cid-qyY7WBynLk .btn {
    display: flex;
  }
  .cid-qyY7WBynLk button.navbar-toggler {
    display: block;
  }
  .cid-qyY7WBynLk .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qyY7WBynLk .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qyY7WBynLk .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qyY7WBynLk .navbar-collapse.collapsing,
  .cid-qyY7WBynLk .navbar-collapse.show {
    display: block !important;
  }
  .cid-qyY7WBynLk .navbar-collapse.collapsing .navbar-nav,
  .cid-qyY7WBynLk .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qyY7WBynLk .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qyY7WBynLk .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qyY7WBynLk .navbar-collapse.collapsing .navbar-buttons,
  .cid-qyY7WBynLk .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qyY7WBynLk .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qyY7WBynLk .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qyY7WBynLk .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qyY7WBynLk .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qyY7WBynLk .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qyY7WBynLk .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qyY7WBynLk .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qyY7WeZi1w {
  background-image: url("../../../assets/images/kit2-1000x667.png");
}
.cid-qyY7WeZi1w H1 {
  color: #232323;
}
.cid-qyY7WeZi1w .mbr-text,
.cid-qyY7WeZi1w .mbr-section-btn {
  color: #232323;
}
.cid-sa6Ax12GT4 {
  background: #ffffff;
}
.cid-sa6Ax12GT4 .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 768px) {
  .cid-sa6Ax12GT4 .video-block {
    width: 100% !important;
  }
}
.cid-saNowC9SZQ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #cccccc;
}
.cid-saNowC9SZQ H2 {
  text-align: center;
}
.cid-saNowC9SZQ .mbr-text,
.cid-saNowC9SZQ .mbr-section-btn {
  text-align: center;
}
.cid-saeakr2YSl {
  padding-top: 105px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/kelly-sikkema-c0xp-0b0bew-unsplash-2000x3000.jpg");
}
.cid-saeakr2YSl .card-box {
  padding: 1rem 2rem 2rem;
}
.cid-saeakr2YSl h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-saeakr2YSl p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-saeakr2YSl .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-saeakr2YSl .mbr-section-btn a {
  margin: 0;
}
.cid-saeakr2YSl .mbr-text {
  color: #767676;
}
.cid-saeakr2YSl .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-saeakr2YSl .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-saeakr2YSl H2 {
  text-align: center;
  color: #ffffff;
}
.cid-saeakr2YSl .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-saeakr2YSl .mbr-text,
.cid-saeakr2YSl .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-sadY2gjUUc {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/pexels-2688991-2000x3001.jpg");
}
.cid-sadY2gjUUc .mbr-text,
.cid-sadY2gjUUc .mbr-section-btn {
  color: #efefef;
  text-align: center;
}
.cid-sadY2gjUUc H2 {
  text-align: center;
}
.cid-sa6HcCshrf {
  padding-top: 135px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/brush-1677562-2000x1333.jpg");
}
.cid-sa6HcCshrf .title {
  padding-bottom: 2.5rem;
}
.cid-sa6HcCshrf h4 {
  width: 85%;
  font-weight: 500;
  margin-bottom: 0;
}
.cid-sa6HcCshrf .bottom-line p {
  color: #767676;
}
.cid-sa6HcCshrf .card-wrapper {
  background-color: #ffffff;
  background-color: transparent;
  position: relative;
  justify-content: unset;
}
.cid-sa6HcCshrf .card-wrapper .card-box {
  width: 100%;
}
.cid-sa6HcCshrf .card-wrapper .card-box .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.cid-sa6HcCshrf .card-wrapper .card-box .wrapper .top-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cid-sa6HcCshrf .card-wrapper .card-box .wrapper .bottom-line {
  width: 85%;
}
@media (max-width: 767px) {
  .cid-sa6HcCshrf .card-wrapper .card-box .wrapper .bottom-line {
    width: 100%;
  }
  .cid-sa6HcCshrf .card-wrapper .card-box .wrapper .bottom-line p {
    text-align: center;
    margin: 1rem 0 0 0;
  }
}
@media (max-width: 767px) {
  .cid-sa6HcCshrf .card.pb-5 {
    padding-bottom: 2rem !important;
  }
  .cid-sa6HcCshrf .wrapper {
    padding-top: 1rem;
  }
}
.cid-sa6HcCshrf H2 {
  text-align: center;
}
.cid-sa6HcCshrf .card-title {
  text-align: center;
}
.cid-saRnpO7jM6 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-saRnpO7jM6 .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-saRnpO7jM6 .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-saRnpO7jM6 .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-saRnpO7jM6 .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-saRnpO7jM6 .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-saRnpO7jM6 .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-saRnpO7jM6 .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-saRnpO7jM6 .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-saRnpO7jM6 .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-sae9b8wohw {
  background: #ffffff;
}
.cid-sae9b8wohw .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 768px) {
  .cid-sae9b8wohw .video-block {
    width: 100% !important;
  }
}
.cid-sa9Bsm24TM {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/lipstick-5559338-2000x1125.jpg");
}
.cid-sa9Bsm24TM .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-sa9Bsm24TM .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-sa9Bsm24TM .card_cont {
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #eee;
}
.cid-sa9Bsm24TM .card-front {
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cid-sa9Bsm24TM .card-front img {
  height: 100%;
  min-width: 100%;
  width: auto;
}
.cid-sa9Bsm24TM .card_back {
  width: 100%;
  height: 100%;
  padding: 30px 30px;
  color: #ffffff;
  background-color: #7b5b0c;
  z-index: 1;
  margin: 0;
  text-align: center;
  overflow: hidden;
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.cid-sa9Bsm24TM .card {
  min-height: 300px;
}
.cid-sa9Bsm24TM .card:hover .card-front {
  z-index: 1;
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cid-sa9Bsm24TM .card:hover .card_back {
  z-index: 2;
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cid-sa9Bsm24TM .builderCard .card_back {
  border-bottom-left-radius: 100px;
}
.cid-sa9Bsm24TM .builderCard .card_cont {
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidd;
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.cid-sa6IHZUswk {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sa6IHZUswk .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-sa6IHZUswk .step {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border-radius: 50%;
  border: 2px solid #efefef;
}
@media (max-width: 767px) {
  .cid-sa6IHZUswk .step {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
.cid-sa6IHZUswk .separline {
  position: relative;
}
.cid-sa6IHZUswk .separline:after {
  top: 68px;
  left: 30px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (32px + 4px) * 2);
  background-color: #efefef;
}
@media (max-width: 767px) {
  .cid-sa6IHZUswk .separline:after {
    top: 52px;
    left: 22px;
    height: calc(100% - 56px);
  }
}
.cid-sa6IHZUswk .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-sa6IHZUswk .media-block {
    padding-right: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sa6IHZUswk .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-bottom: 2rem;
  }
}
.cid-saOsCeJW3f {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/placa-eyectora-2000x1415.jpg");
}
.cid-saOsCeJW3f .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-saOsCeJW3f .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-saOsCeJW3f .mbr-figure img {
    width: 100% !important;
  }
}
.cid-saOB0U2iLD {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #cccccc;
}
.cid-saOB0U2iLD .mbr-section-btn > * {
  margin: 0;
}
.cid-saOB0U2iLD h4 {
  font-weight: 500;
}
.cid-saOB0U2iLD p {
  color: #232323;
}
.cid-saOB0U2iLD .aside-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-saOB0U2iLD .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-saOB0U2iLD .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-saOB0U2iLD .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-saOB0U2iLD .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-saOB0U2iLD .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-saOB0U2iLD .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-saOB0U2iLD .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-saOB0U2iLD .card-img span {
    font-size: 40px !important;
  }
}
.cid-saOB0U2iLD .cost {
  text-decoration: line-through;
  color: #767676;
}
.cid-saOB0U2iLD H2 {
  text-align: center;
}
.cid-saOB0U2iLD .text1 {
  text-align: center;
}
.cid-saOANrpJV4 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-saOANrpJV4 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-saOANrpJV4 p {
  color: #767676;
  text-align: left;
}
.cid-saOANrpJV4 .card-box {
  padding-top: 2rem;
}
.cid-saOANrpJV4 .card-wrapper {
  height: 100%;
}
.cid-saOANrpJV4 P {
  text-align: center;
}
.cid-saOANrpJV4 .card-title {
  text-align: center;
}
.cid-scnxQw45Tp {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-scnxQw45Tp .item {
  padding-bottom: 2rem;
}
.cid-scnxQw45Tp .item-wrapper {
  height: 100%;
}
.cid-scnxQw45Tp .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-scnxQw45Tp .carousel-control,
.cid-scnxQw45Tp .close {
  background: #1b1b1b;
}
.cid-scnxQw45Tp .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-scnxQw45Tp .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-scnxQw45Tp .close {
  position: fixed;
  opacity: 0.5;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: 'MobiriseIcons';
}
.cid-scnxQw45Tp .close::before {
  content: '\e91a';
}
.cid-scnxQw45Tp .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-scnxQw45Tp .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-scnxQw45Tp .carousel-inner > .active {
  display: block;
}
.cid-scnxQw45Tp .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-scnxQw45Tp .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-scnxQw45Tp .carousel-control .icon-next,
.cid-scnxQw45Tp .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-scnxQw45Tp .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-scnxQw45Tp .carousel-control,
  .cid-scnxQw45Tp .carousel-indicators,
  .cid-scnxQw45Tp .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-scnxQw45Tp .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-scnxQw45Tp .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-scnxQw45Tp .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-scnxQw45Tp .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-scnxQw45Tp .carousel-indicators {
    display: none;
  }
}
.cid-scnxQw45Tp .carousel-indicators .active,
.cid-scnxQw45Tp .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: 0.5;
  border: 4px solid #1b1b1b;
}
.cid-scnxQw45Tp .carousel-indicators .active {
  background: #fff;
}
.cid-scnxQw45Tp .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-scnxQw45Tp .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-scnxQw45Tp .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-scnxQw45Tp .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-scnxQw45Tp .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-scnxQw45Tp .modal-body .carousel-item {
  top: 50%;
  transform: translateY(-50%);
}
.cid-scnxQw45Tp .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-scnxQw45Tp .carousel {
  width: 100%;
}
.cid-scnxQw45Tp .modal-backdrop.in {
  opacity: 0.8;
}
.cid-scnxQw45Tp .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-scnxQw45Tp .modal.fade .modal-dialog,
.cid-scnxQw45Tp .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.cid-scnxQw45Tp .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-scnxQw45Tp a {
  display: block;
}
.cid-scnxQw45Tp a.img {
  pointer-events: none;
}
.cid-sbq1xqHdj9 {
  background-image: url("../../../assets/images/0202020202022-1-1963x978.jpg");
}
.cid-sbq1LkiWX9 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-sbq1LkiWX9 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-sbq1LkiWX9 p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-sbq1LkiWX9 .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-sbq1LkiWX9 .mbr-section-btn a {
  margin: 0;
}
.cid-sbq1LkiWX9 .mbr-text {
  color: #767676;
}
.cid-sbq1LkiWX9 .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-sbq1LkiWX9 .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-sbq1LkiWX9 .card-title {
  text-align: center;
}
.cid-sbqcJhx4Od {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sbqcJhx4Od .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-sbqcJhx4Od .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sbqcJhx4Od .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sbqcJhx4Od .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-sbqcJhx4Od .row > .row {
  display: block;
}
.cid-sbqcJhx4Od .mbr-gallery-item {
  width: 100%;
}
.cid-sbqcJhx4Od .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-sbqcJhx4Od .mbr-gallery-item > div {
  position: relative;
}
.cid-sbqcJhx4Od .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-sbqcJhx4Od .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-sbqcJhx4Od .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-sbqcJhx4Od .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-scnbYan9JX {
  background: #ffffff;
}
.cid-scnbYan9JX .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 768px) {
  .cid-scnbYan9JX .video-block {
    width: 100% !important;
  }
}
.cid-sbqQ9OSSy0 {
  background: #ffffff;
}
.cid-sbqQ9OSSy0 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-sbqQ9OSSy0 .mbr-figure {
  margin: 0 auto;
}
.cid-sbqQ9OSSy0 figcaption {
  position: relative;
}
.cid-sbqQ9OSSy0 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sbqQ9OSSy0 .image-block {
    width: 100% !important;
  }
}
.cid-sbgmtlLRJM {
  background-image: url("../../../assets/images/est-960x506.jpg");
}
.cid-sbwTOLFfU8 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #cccccc;
}
.cid-sbwTOLFfU8 .item {
  padding-bottom: 2rem;
}
.cid-sbwTOLFfU8 .item-wrapper {
  height: 100%;
}
.cid-sbwTOLFfU8 .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-sbwTOLFfU8 .carousel-control,
.cid-sbwTOLFfU8 .close {
  background: #1b1b1b;
}
.cid-sbwTOLFfU8 .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sbwTOLFfU8 .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sbwTOLFfU8 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: 'MobiriseIcons';
}
.cid-sbwTOLFfU8 .close::before {
  content: '\e91a';
}
.cid-sbwTOLFfU8 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sbwTOLFfU8 .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-sbwTOLFfU8 .carousel-inner > .active {
  display: block;
}
.cid-sbwTOLFfU8 .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sbwTOLFfU8 .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sbwTOLFfU8 .carousel-control .icon-next,
.cid-sbwTOLFfU8 .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-sbwTOLFfU8 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sbwTOLFfU8 .carousel-control,
  .cid-sbwTOLFfU8 .carousel-indicators,
  .cid-sbwTOLFfU8 .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sbwTOLFfU8 .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sbwTOLFfU8 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sbwTOLFfU8 .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-sbwTOLFfU8 .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sbwTOLFfU8 .carousel-indicators {
    display: none;
  }
}
.cid-sbwTOLFfU8 .carousel-indicators .active,
.cid-sbwTOLFfU8 .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: 0.5;
  border: 4px solid #1b1b1b;
}
.cid-sbwTOLFfU8 .carousel-indicators .active {
  background: #fff;
}
.cid-sbwTOLFfU8 .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sbwTOLFfU8 .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sbwTOLFfU8 .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sbwTOLFfU8 .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sbwTOLFfU8 .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sbwTOLFfU8 .modal-body .carousel-item {
  top: 50%;
  transform: translateY(-50%);
}
.cid-sbwTOLFfU8 .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sbwTOLFfU8 .carousel {
  width: 100%;
}
.cid-sbwTOLFfU8 .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sbwTOLFfU8 .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-sbwTOLFfU8 .modal.fade .modal-dialog,
.cid-sbwTOLFfU8 .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.cid-sbwTOLFfU8 .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sbwTOLFfU8 a {
  display: block;
}
.cid-sbwTOLFfU8 a.img {
  pointer-events: none;
}
.cid-sbi8Jled6i {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-sbi8Jled6i .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-sbi8Jled6i .mbr-content-text {
  color: #767676;
  margin-bottom: 0;
}
.cid-sbi8Jled6i .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-sbi8Jled6i .img-text {
  width: 88px;
  height: 88px;
  font-size: 44px;
  border: 2px solid #cccccc;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .cid-sbi8Jled6i .img-text {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .cid-sbi8Jled6i .cards-block {
    border-top: 2px solid #cccccc;
  }
}
.cid-sbi8Jled6i .cards-block .card {
  border-bottom: 2px solid #cccccc;
  border-radius: 0;
}
.cid-sbi8Jled6i .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-sbi8Jled6i .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-sbi8Jled6i .media-block {
    padding-left: 2rem;
  }
}
.cid-sbi8Jled6i .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-sbi8Jled6i .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-sbi8Jled6i .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-sbi2w9W7KW {
  padding-top: 135px;
  padding-bottom: 135px;
  background-color: #cccccc;
}
.cid-sbi2w9W7KW .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-sbi2w9W7KW .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sbi2w9W7KW .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sbi2w9W7KW .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-sbi2w9W7KW .row > .row {
  display: block;
}
.cid-sbi2w9W7KW .mbr-gallery-item {
  width: 100%;
}
.cid-sbi2w9W7KW .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-sbi2w9W7KW .mbr-gallery-item > div {
  position: relative;
}
.cid-sbi2w9W7KW .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-sbi2w9W7KW .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-sbi2w9W7KW .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-sbi2w9W7KW .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-sa6IXiPxYr {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/sombra1-1000x941.png");
}
.cid-sa6IXiPxYr .title {
  margin-bottom: 2rem;
}
.cid-sa6IXiPxYr .mbr-section-subtitle {
  color: #767676;
}
.cid-sa6IXiPxYr a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-sa6IXiPxYr a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-sa6IXiPxYr textarea.form-control {
  min-height: 188px;
}
.cid-qyY8jnoXDT {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/pexels-nika-akin-3526843-2000x3000.jpeg");
}
.cid-qyY8jnoXDT .mbr-iconfont-social {
  font-size: 32px;
  color: #ffffff;
}
.cid-qyY8jnoXDT .social-list a:focus {
  text-decoration: none;
}
.cid-qyY8jnoXDT H2 {
  color: #ffffff;
}
.cid-scTc3yXvfM {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-scTc3yXvfM .mbr-section-subtitle {
  color: #767676;
}
.cid-qyY8keMIH0 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/lip-gloss-3565593-2000x1335.jpeg");
}
@media (max-width: 767px) {
  .cid-qyY8keMIH0 .content {
    text-align: center;
  }
  .cid-qyY8keMIH0 .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-qyY8keMIH0 .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-qyY8keMIH0 .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qyY8keMIH0 .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-qyY8keMIH0 .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qyY8keMIH0 .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-qyY8keMIH0 .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qyY8keMIH0 .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qyY8keMIH0 .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qyY8keMIH0 .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qyY8keMIH0 .google-map {
  height: 25rem;
  position: relative;
}
.cid-qyY8keMIH0 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-qyY8keMIH0 .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-qyY8keMIH0 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-qyY8keMIH0 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-qyY8keMIH0 P {
  color: #232323;
  text-align: center;
}
